html
  head
    link(href="./assets/css/style.css" rel="stylesheet" type="text/css")
  body
    nav
      ul
        li
          a(href="/") Home
        li
          a(href="/login") Login
        li
          a(href="/signup") Signup
